/* FONTS */
@font-face {
    font-family: "Poppins";
    src:url("./assets/fonts/poppins/Poppins-Regular.otf") format("opentype");
}

body {
  color: white;
  background-color: #212121;
  margin: 0;
}
